@import "../Variables/Variables.scss";

.mainPage {
    margin-top: 10% ;
  // display: flex;
  // justify-content: center;
  // align-items: center;

  // button {
  //     @include buttonStyle($red-color, 35px);
  // }
  .navbarheading {
    color: $heading-color;
    font-family: $title-font;
  }

  .button {
    @include buttonStyle;
  }

  .para {
      font-size: 16px;
  }
}
