@import "../Variables/Variables.scss";

.servicePage {

    .serviceheading {
        align-items: center;
        justify-content: center;
        color: $heading-color ;
        margin-left: 35%;
        font-family: $title-font;
        margin-bottom: 30px;
    }

    .card-group {
        gap: 20px;
        margin: 8px;
    }

    .card {
        border-radius: 20px;
    }
}