// Override default variables before the import
$body-bg: #000;

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';

* {
    margin: 0 ;
    padding: 0 ;
}

// body {
//     background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
// }